{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <div class="App">
        <header class="App-header">
            <a href="https://www.dndbeyond.com/">
            <img src="{% static 'd20.png' %}" class="App-logo" alt="logo" />
            </a>
            <p style="color: red;">
                GM Tool ß<br>
                <span style="font-size: medium;">Built with Django</span>
            </p>
            <p class="small">
                Developed by Pie Thong Creations
            </p>
        </header>
    </div>
</body>

</html>
